<!DOCTYPE html>
<html ng-app="resourceAllocationApp">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular-route.min.js"></script>
<script src="../js/app.js"></script>
<link rel="stylesheet" href="../css/bootstrap.sura.css">
</head>
<body ng-controller="ProjectListCtrl">
	<div ng-include="'../templates/menu.html'"></div>
	<table>
		<tr>
			<td colspan="2">Buscar: <input ng-model="query"></td>
		<tr>
			<th>Nombre de proyecto</th>
			<th>Líder</th>
		</tr>
		<tr ng-repeat="project in projects | filter:query">
			<td>{{project.name}}</td>			
			<td>{{project.leader}}</td>			
		</tr>
		<tr>
			<td colspan="2">Total de proyectos: {{projects.length}}</td>
		</tr>
	</table>
</body>
</html>