<div>
	<div ng-include="'../templates/menu.html'"></div>
	<table class="table table-striped" cellpadding="0" cellspacing="0" border="0">
		<tr>
			<td><ol class="breadcrumb"><li><a href="#Home">Home</a></li><li class="active">Proyectos</li></ol></td>
			<td align="right">Buscar: <input ng-model="query"></td>
		</tr>
	</table>
	<div id="container">
		<table cellpadding="0" cellspacing="0" border="0"
			class="table table-striped table-bordered" ng-table="projectsTable">
			<tbody>
				<tr ng-repeat="project in $data | filter:query">
					<td data-title="''" ng-click="gotoDetail();"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></td>
					<td data-title="'Nombre de proyecto'" sortable="'name'">{{project.name}}</td>
					<td data-title="'Plataforma'" sortable="'leaderPlatform.name'">{{project.leaderPlatform.name}}</td>
					<td data-title="'L&iacute;der'" sortable="'leadAnalyst'">{{project.leadAnalyst}}</td>
					<td data-title="'Tallaje'" sortable="'size'">{{project.size}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>